# Python gereksizleri
__pycache__/
*.py[cod]

# Sanal Ortam
.venv/
venv/

# PyInstaller çıktıları 
build/
dist/
*.spec

# VS Code ayarları
.vscode/

# GİZLİ VERİLER 
settings.json

# Test dosyaları
*.srt
